[user]
	name = Laker Turner
	email = git@laker.gay
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOAbu30yEWXnSFjscc94wwa+Qj7OQa9bgP9SYcDzjUY/

[init]
	defaultBranch = main

[commit]
	gpgsign = true

[gpg]
	format = ssh

[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign

[color]
	ui = auto
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto
